/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Noto+Serif+TC:wght@400;500;600;700&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: #454545;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

*,*::before,*::after {
box-sizing: border-box;
}

body{
    background-color: #FFFEF6;
    font-family: "Noto Serif TC", "Cardo", sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
    text-align: center;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 20px;
}

.navbar{
    background-color: #fffbe8;
}

.btnLogin {
    background-color: #E78C52;
    color: white;
}
 
.btnLogin:hover{
    box-shadow: 4px 4px rgba(231, 140, 82, 0.5);
  }

.banner{
    padding: 100px 0px;
    background-color: #fffbe8;
}

.bannertext{
    background-image: url(../img/balloon.png);
    background-repeat:no-repeat;
}

/* 氣球漂浮效果 */
.ballon {
    animation: float 3s ease-out infinite;
  }

  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
   
.inputSearch {
    position: relative; 
    display: inline-block;
  }	
  	
  .inputSearch .icon { 
    position: absolute;	
    width: 55px;	
    right: 20px;
    top: calc(2% - 0.3em);
  }

.classification li{
    list-style-type: none;
    border-left: 1px solid;
    border-top: none; 
    border-bottom: none ;
    padding: 30px;
    margin: 40px 0px;
}

/* 書籍分類選單hover */
.classification li:hover,
.classification li:focus {
  transform: translateY(-0.25em);
}

.addBorder{
    border-right: 1px solid;
}

li{list-style-type: none;}

.classification a {text-decoration:none;}

.arrow li{
    margin: 8px;
}

.bull{
    color: #E78C52;
    font-weight:bold;
}

.rank{
    text-align: center;
    margin: 120px 0px;
}

.rankbtn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #F5F5F5;
    text-decoration: none;
    border-radius: 40px 0px 0px 40px;
    color: #454545;
}

.novelImg{
    position: relative;
}

/*hover top 5小說圖片放大效果 */
.pic{
    width:416px; 
    height:450px;
    overflow:hidden;
    object-fit: cover;
}

.pic img{
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.pic img:hover{transform:scale(1.2,1.2);}

.amount{
    background-image: url(../img/meaningless.png);
    width: 68px;
    height: 68px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.share{
    position: absolute;
    top: 370px;
    left: 290px;
}

.share li{
    margin: 4px;
}

.card-title{
    display: flex;
    height: 80px;
    align-items: center;
}

.illustrateCard{
    background-color: #FFF0D4;
}

.classify{
    background-color: #fffbe8;
}

.listbtn{
    margin-top: 24px;
    display: inline-block;
    padding: 8px 24px;
    background-color: #E78C52;
    border-radius: 20px 20px 20px 0px;
    color: white;
    font-size: 20px;
    text-decoration:none;
}


.bookImg{
    position: relative;
}

.bookshare{
    position: absolute;
    top: 240px;
    left: 190px;
}

.bookshare li{
    margin: 2px;
}


.book-cover {
    width: 306px; 
    height: 306px; 
    object-fit: cover; 
  }

  
.star{
    display: flex;
    height: 28px;
    align-items: center;
}

.bookclass{
    margin-bottom: 60px;
}

.commentCard{
    /* background: linear-gradient(90deg, #FFF2E1, #FFE4BC); */
    background: linear-gradient(to top, #FFF2E1 0%, #FFE4BC 100%, #FFF2E1 100%, #FFE4BC 100%);
    border: none;
    position: relative;
}

.netizen{
    position: absolute;
    top: -45px;
    z-index:1;
}

.box{
    height: 24px;
}

.inside{
    background-color: white;
    text-align: center;
    margin: 0px 12px;
    border: none;
}

.inside h5{
    padding: 50px 0px 70px 0px;
}

.borderBottom{
    border-width:medium; 
    border-bottom-style:dashed;
    color: #E0E0E0;
    margin: 8px 16px 16px 16px;
}

.menuCollapse{
    padding-top: 24px;
}

   /* 填滿愛心 */
   .likeIcon:hover {
    content: url('../img/filledHeart.png');
    border-radius: 50px;
    border: 2px solid rgb(231, 140, 82);
    }
     /* 填滿讚*/
    .thumbIcon:hover {
        content: url('../img/filledThumb.png');
        border-radius: 50px;
        border: 2px solid rgb(231, 140, 82);
        }

@media (max-width: 767px) {  
    .navbar, .banner{
        max-width: 95%;
    }
    .nav-link{
        text-align: center;
    }
    .illustrateRwd{
        max-width: 95%;
        flex-direction: column;
    }

    .classification, .Banner img{
        display: flex;
        justify-content: center;
        max-width: 95%;
        /* text-align: center; */
    }

    .classification li{
        padding: 16px;
    }

    .ballon {
        display: none;
        }


    .illustrateCard{
        width: 95%;
        margin-top: 16px;
    }

    .bannerimg{
        max-width: 100%;
       flex-direction: column;
    }

    .link{
        width: 90%;
        height: 1px;
        border-top: solid #E0E0E0 1px;
    }

    .menuCollapse{
        padding-top: 0px;
    }

    .language{
        display: flex;
        justify-content: end;
    }

    .classRWD{
         display: flex;
         justify-content: space-between;
         margin-bottom: 24px;
    }

    .listbtn{
        margin-top: 0px;
    }

    .pic{
        width:100%;
    }

    .share{
        top: 385px;
        left: 190px;
        width:100%;
    }

    .bookshare{
        top: 230px;
    }

    .Footer{
        max-width: 90%;
    }

    /* 重新排列元素的順序 */
    /* .language{ */
        /* order: 2;    */
    /* } */
}

     /* 媒體查詢，當視窗寬度大於中等（md）尺寸時 */
    @media (min-width: 768px) {
    /* 取消折疊效果 */
    .collapse {
      display: block !important;
      visibility: visible;
      height: auto;
      overflow: visible;
    }
    .bi{
        display: none;
    }
    .socialMenu{
        display: none;
    }
    }

    .Footer{
        background-color: #FDF9E6;
    }

    .siteLink{
        color: #454545;
    }

    a { text-decoration: none; }
    
    #backtotop{
        display:scroll;
        position:fixed;
        bottom:5px;
        right:5px;
      }

    /* 修正Swiper的x軸 */
    html{
        overflow-y: scroll;
    }
    
    :root{
        overflow-y: auto;
        overflow-x: hidden;
    
    }
    
    :root body{
        position: absolute;
    }
    
    body{
        width: 100vw;
       overflow: hidden;
    }

    .pagesIcon .likeIcon {
        background-color: #fff;
        border-radius: 100px;
        border: 2px solid #fff;
      }
      .pagesIcon:hover {
        border-radius: 100px;
        border: 2px solid rgb(231, 140, 82);
      }