.longin-main {
    a {
        color: $success;
    }
    .header {
        padding: 32px 80px;
    }
}
@media (max-width: 768px) {
    .longin-main {
        .header {
            padding: 32px 60px;
        }
    }
}
@media (max-width: 572px) {
    .longin-main {
        .header {
            padding: 32px 30px;
        }
    }
}
.longin-hover-btn {
    &:hover {
        font-weight: $font-weight-bold;
    }
}

.turn {
    padding: 40px 0;
}
.longin, .signup, .textEmail, .resetPassword {
    padding: 80px 150PX;
    margin:  40px 200px;
}
@media (max-width: 992px) {
    .longin, .signup, .textEmail, .resetPassword {
        padding: 80px 100px;
        margin:  40px 100px;
    }
}
@media (max-width: 768px) {
    .longin, .signup, .textEmail, .resetPassword {
        padding: 80px;
        margin:  20px;
    }
}
@media (max-width: 375px) {
    .turn {
        padding: 0;
    }
    .longin, .signup, .textEmail, .resetPassword {
        padding: 40px 50px;
        margin:  20px 10px;
    }
}
/*.signup {
    display: none;
}*/
/*.longin a:active {
    .longin {
        display: none;
    }
    .signin {
        display: block;
    }
}*/


.form-bd-color {
    border: 1.5px solid rgba(231, 140, 82, 0.2);
    &:focus {
        border: 1.5px solid rgba(231, 140, 82, 0.8);
    }
}

.forget-password-btn {
    padding: 10px 0px;
}

.longin-btn {
    width: 100%;
    padding: 12px 24px;
    &:hover {
        box-shadow: 4px 4px rgba(231, 140, 82, 0.5);
    }
}

.textEmail-content {
    padding: 80px 0;
}

.privacyPolicy {
    padding: 20px 0 60px;
}

.Invalid {
    border: 2px solid #800000;
}