.longin-main {
    a {
        color: $success;
    }
    .header {
        padding: 32px 80px;
    }
}
@media (max-width: 768px) {
    .longin-main {
        .header {
            padding: 32px 60px;
        }
    }
}

.turn {
    padding: 40px 0;
}
.longin, .signup, .textEmail, .resetPassword {
    padding: 80px 150PX;
    margin:  40px 200px;
}
@media (max-width: 992px) {
    .longin, .signup, .textEmail, .resetPassword {
        padding: 80px 100px;
        margin:  40px 100px;
    }
}
@media (max-width: 768px) {
    .longin, .signup, .textEmail, .resetPassword {
        padding: 80px;
        margin:  20px;
    }
}
@media (max-width: 375px) {
    .longin, .signup, .textEmail, .resetPassword {
        padding: 80px 100px;
        margin:  40px 100px;
    }
}
/*.signup {
    display: none;
}*/
/*.longin a:active {
    .longin {
        display: none;
    }
    .signin {
        display: block;
    }
}*/


.form-bd-color {
    border: 1.5px solid rgba(231, 140, 82, 0.2);
    &:focus {
        border: 1.5px solid rgba(231, 140, 82, 0.8);
    }
}

.forget-password-btn {
    padding: 10px 0px;
}

.longin-btn {
    position: relative;
    width: 100%;
    padding: 12px 24px;
    z-index: 3;
    &:hover {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 4px;
            left: 4px;
            background: rgba(231, 140, 82, 0.5);
            border-radius: 4px;
            z-index: -1;
        }
    }
}

.textEmail-content {
    padding: 80px 0;
}

.privacyPolicy {
    padding: 20px 0 60px;
}