
/*rwd*/


@mixin mobile{
    @media(max-width:576px){
        @content;
    }
  }


/*adjust*/

.mySwiper{

    --swiper-pagination-color: #FFFEF6;


}


.searchDiv{
    width: 50%;
    min-width: 100px;
    border: 1px solid rgba(231, 140, 82, 0.2);
    border-radius: 20px;
    &:active{
        border:1px solid #E78C52CC;
    };
}

.search {
    width: 90%;
    border: 0;
    outline: none;
  }

.bookImg{
    width: 50%;
    height: 600px;
}

.footerLaug{
    margin-left: 12%;
}

.dotLine{
    border-bottom: 1px dashed #A0A0A0;
    border-width: 1px;
}

.dotLine2{
    border-bottom: 1px dashed #E0E0E0;
}

.dotLine3{
    border-top: 1px dashed #A0A0A0;
}

.commitTitlt{
    color: #A0A0A0;
}

.bookInfoTitlt{
    background-color: #FFFEF6;
}

.pagesEvaluate {
    display: block;
    margin-bottom: 15px;
  }

.pagesEvaluateInput {
    width: 50%;
    margin-bottom: 15px;
  }

.name-message,.content-message,.score-message {
    display: block;
    color: red;
}

.bookPageBreadCrumbs{
    position: relative;
    left: 1%;
    .breadcrumb-item-content{
        color: #E78C52;
        &:hover {
        font-weight: bold;
      }}
    
  }
  

/*圖片區*/


.logo{
    background-image: url('../../images/LogoSize=lg.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 206px;
    height: 80px;
    @include mobile{
        background-image: url('../../images/LogoSize=sm.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 119px;
        height: 60px;
    }
 }


.searchImg{
    width: 10%;
    min-width: 20px;
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size: cover;
    border: 0;
    border-radius: 100px;
    &:active{
            border-radius: 100px;     
            background-image: url('../../images/search_active.svg');
    }
}

.switchCommitLeft{
    background-image: url('../../images/arrow_left.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border:1px solid gray;
    border-radius: 29px;
    &:active,
    &:hover{
        border:1px solid #E78C52;
        background-image: url('../../images/arrow_left_hover.svg');
        transform: scale(1.1);
    }
}


.switchCommitRight{
    background-image: url('../../images/arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border:1px solid gray;
    border-radius: 29px;
    &:active,
    &:hover{
        border:1px solid #E78C52;
        background-image: url('../../images/arrow_right_hover.svg');
        transform: scale(1.1);
    }
}


.userCenter{
    background-image: url('../../images/account_circle_black_24dp.svg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-image: url('../../images/account_circle_hover_24dp.svg');
    } 
 }


/*button*/


.moreCommitBtn:hover {
    box-shadow: 3px 3px rgba(231, 140, 82, 0.5);
    
}

.pagesIcon{
    background-color: #fff;
    padding: 8px;
    border-radius:100px;
    border:2px solid #fff;
   &:hover{
    border-radius:100px;
    border: 2px solid rgba(231, 140, 82);
     }
}

/*a*/


.outsideSiteLink{
    color: #454545;
   &:hover{
     color: #E78C52;
   } 
}

.siteLink{
    color: #454545; 
    &:hover{
      color: #E78C52;
    } 
 } 
 

